<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Page title -->
	<title>[%ARCHIVE_TITLE%] | [%COMIC_TITLE%]</title>
	
	<!-- Meta tags -->
	[%META_TAGS%]
	
	<!-- Default Assets - without these the pages won't scale properly! -->
	[%SITE_DEFAULT_ASSETS%]
	
	<!-- Favicon -->
	[%FAVICON%]
	
</head>
<body>
	[%ADMIN_TOOLBAR%]
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				[%COMIC_BANNER%]
			</div>
			<div class="col-xs-12 text-center">
				<p>Updates [%COMIC_UPDATES%]</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				[%SITE_NAV%]
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">[%ARCHIVE_TITLE%]</h1>
				[%ARCHIVE_LIST%]
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<hr />
				<p>[%COPYRIGHT%]</p>
				<p>[%LINK_RSS_FEED%]</p>
			</div>
		</div>
	</div>
</body>
</html>